.chooseDirectory, .chooseAnotherDirectory {
    background-color: var(--primary-colour);
    color: var(--white);
    border: 1px solid var(--secondary-colour);
}

.chooseDirectory {
    width: 8.1875rem;
    height: 5.3125rem;
}

.chooseAnotherDirectory {
    width: 14.625rem;
    height: 3.6875rem;
}
