.flexContainer, .flexContainerMirror {
    display: flex;
    flex-flow: column wrap;
    width: 4.6em;
}

.flexContainerMirror { flex-direction: column-reverse; }

.fileIconContainer {
    color: var(--white);
    position: relative;
    width: 4.5em;
    height: 5.3125em;
}

.fileIcon, .fileIconMirror {
    position: absolute;
    left: 0;
    background-color: var(--secondary-colour-light);
    border: 1px solid var(--secondary-colour);
    width: 4.5em;
    height: 5.3125em;
}
.fileIcon {
    top: 0;
    clip-path: polygon(75% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

.fileIconMirror {
    bottom: 0;
    clip-path: polygon(100% 0%, 100% 80%, 75% 100%, 0 100%, 0 0);
}

.text, .textMirror {
    position: relative;
    text-align: center;
}
.text { bottom: 0; }

.textMirror { top: 0; }
